@charset 'UTF-8';



#container{
    max-width: 890px;
    margin: 0 auto;
}

#file{
    width: 890px;
    height: 600px;
    margin: 0 auto;
    
}
.pages{
    margin: 0;
    display: flex;
    
}
ul{
    list-style: none;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    
}
ul li{
    text-align: center;
}

#prevpage,#nextpage{
    cursor: pointer;
}
